.card{
    position: relative;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    &--background{
        background-image: url("../../../assets/polygon-bg.svg");
        background-size: cover;
        background-position: center center;

    }
    &__icon{
        font-size: 70px;
        height: 70px;
        width: 70px;
        color: rgb(176,178,204);
        &--white{
            color: white;

        }
        &--extended{
            font-size:50px ;
            height: 50px;
            width: 50px;
        }
    }
    &__title{
        font-size: 30px;
        margin: 10px;
        &--extended{
            font-size:16px ;
            font-weight: bold;
        }
    }
    &__text{
        text-align: center;
        min-height: 90px;
        font-size: 18px;
        &--extended{
            font-size:16px ;
        }
    }
    &__extended-section{

       
        overflow: hidden;

        &-btn{
            position: absolute;
            bottom: -7px;
            right: -22px;
            width: 0; 
            height: 0; 
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            transform: rotate(-45deg);
            border-top: 30px solid rgb(117,202,191);
        }
    }
    &__extended-content{
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
        
        &__item{
            margin: 0;
            font-size: 14px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            &--en{
                justify-self: flex-start!important;
                flex-direction: row-reverse;
                text-align: left!important;
            }
        }
        &__text{
            padding: 5px;
            
        }

        &--open{
            max-height: 6000px;

        }

    }
}
.icon{
    width: 20px;
    height: 20px;
    font-size: 20px;
}