<div class="about-wrapper">
        <div class="about" [class.en]="dictionary.lang!=='ar'">
            <div class="about__content about__section" [class.en]="dictionary.lang!=='ar'">
                <div class="about__content__title"></div>
                <div class="about__pargraph">
                    <div class="about__content-title">
                        {{dictionary.lang === "ar"?dictionary.aboutHollat.ar :dictionary.aboutHollat.en}}
                    </div>
                    <div class="about__pargraph-item"*ngFor="let i of changeLang(dictionary.lang)">{{i}}</div>
                    <div class="btn-container" (click)="navTo('about')">
                        <a  class="ghost-btn">
                            <svg>
                              <defs>
                                <linearGradient id="grid1">
                                  <stop offset="0%" stop-color="#FF8282"/>
                                  <stop offset="100%" stop-color="#E178ED" />
                                </linearGradient>
                              </defs>
                              <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="url(#grid1)"></rect>
                            </svg>
                            <span  class="dark">
                                {{dictionary.lang === "ar"?dictionary.productFeatures.ar :dictionary.productFeatures.en}}
                            </span>
                         </a>
                    </div>
                </div>
            </div>
            <div class="about__image about__section"  [class.about__image--en]="dictionary.lang!=='ar'">
                <div class="first-image" >
                    <img src="/assets/image3.jpg"/>
                </div>
                <div class="image-group"  [class.about__image--en]="dictionary.lang!=='ar'">
                    <img src="/assets/image1.jpg"/>
                    <img src="/assets/image2.jpg"/>
                </div>
             
            
            </div>
        </div>
</div>