.footer{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background-color: #616699;
    color: white;
    padding: 50px;
    &__slogan{
        margin: 10px 0;
     
    }
    &__social{
        &--link{
            display: inline-block;
            padding:0 15px;
            color: white;
        }
    }
    &__copy-right{
        padding: 15px;
        font-size: 14px;
    }
}