<form class="product-form" [formGroup]="profileForm" (ngSubmit)="sub">
    <!-- <input class="input-group__input"  placeholder="name" formControlName="name"/><br>
    <input class="input-group__input" placeholder="quantity" formControlName="quantity"/><br>
    <input class="input-group__input" placeholder="price" formControlName="price"/><br> -->
    <app-input-group err='{{profileForm.get("name")?.errors}}' formControlName="name" type="text" label="name" placeholder="please enter name"></app-input-group>
    <app-input-group formControlName="price" type="number" label="price" placeholder="please enter price"></app-input-group>
    <app-input-group formControlName="quantity"  type="number" label="quantity" placeholder="please enter quantity"></app-input-group>

</form>
<div>
    {{profileForm.value | json}}
    {{profileForm.get("name")?.errors |json}}

</div>
