<div class="page-title">
    <h1>{{ dictionary.lang ==="ar" ?dictionary.hollat.ar:dictionary.hollat.en}}</h1>
    <p>{{dictionary.lang ==="ar" ?dictionary.aboutpageSlogan.ar:dictionary.aboutpageSlogan.en}}</p>
</div>
<div class="adress">
    <h1>{{ dictionary.lang ==="ar" ?dictionary.headOffice.ar:dictionary.headOffice.en}}</h1>
    <p>{{dictionary.lang ==="ar" ?dictionary.adress.ar:dictionary.adress.en}}</p>
    <p>(+996) 114887771</p>
    <p>hello@hollat.net</p>
</div>
<app-contact-form></app-contact-form>