<div class="container">
    
    <form (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-row__item">
                <input  placeholder="first name" type="text" class="form-row__input" name="firstName" [(ngModel)]="contact.firstName" required/>
                <small></small>
            </div>
            <div class="form-row__item">
                <input placeholder="last name" type="text" class="form-row__input" name="lastName" [(ngModel)]="contact.lastName"/>
                <small></small>
            </div>
        </div>
        <div  class="form-row" class="form-row">
            <div class="form-row__item">
                <input #firstName="ngModel" placeholder="email" type="email" class="form-row__input" name="email" [(ngModel)]="contact.email"/>
                <small ></small>
            </div>
                <div class="form-row__item">
                   <input placeholder="phone Number" type="number" class="form-row__input"  name="phone" [(ngModel)]="contact.phone"/>
                   <small></small>
               </div>

                </div>

        <div class="form-row">
            <div class="form-row__item">
             <input placeholder="subject" type="text" class="form-row__input" name="subject"  [(ngModel)]="contact.subject">
             <small></small>
            </div>
        </div>
        <div class="form__row">
            <textarea rows="5" placeholder="message"  resize="none" name="message" [(ngModel)]="contact.message"></textarea>
        </div>
        <div class="btn-container" (click)="navTo('about')">
            <a  class="ghost-btn">
                <svg>
                  <defs>
                    <linearGradient id="grid1">
                      <stop offset="0%" stop-color="#FF8282"/>
                      <stop offset="100%" stop-color="#E178ED" />
                    </linearGradient>
                  </defs>
                  <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="url(#grid1)"></rect>
                </svg>
                <span  class="dark">
                    {{dictionary.lang === "ar"?dictionary.send.ar :dictionary.send.en}}
                </span>
             </a>
        </div>

    </form>
</div>