<div class="jumbotron__wrapper" >
    <div class="container">
 
        <div class="jumbotron" [class.en]="dictionary.lang!=='ar'">
            <div class="jumbotron__item">
                <img class="image" src="/assets/macbook-hollat.png"/>
            </div>
            <div class="jumbotron__content jumbotron__item" [class.en]="dictionary.lang!=='ar'">
                <h3 class="content-title">
                    {{dictionary.lang === "ar"?dictionary.hollat.ar :dictionary.hollat.en}}
                </h3>
                <p class="content-text" i18n>
                    <!-- {{dictionary.lang === "ar"?dictionary.jumbotronText.ar :dictionary.jumbotronText.en}} -->
                    Ticketing Management Platform. Fast Setup and easy to use.
                </p>
                <div class="content-control" [class.en]="dictionary.lang!=='ar'">
                    <div class="btn-container" >
                        <a href="#screens" class="ghost-btn">
                            <svg>
                              <defs>
                                <linearGradient>
                                  <stop offset="0%" stop-color="#FF8282"/>
                                  <stop offset="100%" stop-color="#E178ED" />
                                </linearGradient>
                              </defs>
                              <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="#ffffff"></rect>
                            </svg>
                            <span i18n>
                                <!-- {{dictionary.lang === "ar"?dictionary.viewProductScreens.ar :dictionary.viewProductScreens.en}} -->
                                view product screens
                            </span>
                         </a>
                    </div>
                    <div class="btn-container"  (click)="navTo('features')" >
                        <a class="ghost-btn">
                            <svg>
                              <defs>
                                <linearGradient>
                                  <stop offset="0%" stop-color="#FF8282"/>
                                  <stop offset="100%" stop-color="#E178ED" />
                                </linearGradient>
                              </defs>
                              <rect width="206" height="50" x="5" y="5" rx="25" fill="none" stroke="#ffffff"></rect>
                            </svg>
                            <span i18n>
                                <!-- {{dictionary.lang === "ar"?dictionary.productFeatures.ar :dictionary.productFeatures.en}} -->
                                product features
                            </span>
                         </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>