.jumbotron__wrapper{
    background-color: #616699;
    color: white;
    text-align: right;
}
.jumbotron{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:900px) {
        flex-direction: column!important; 
        padding: 0 20px; 
        box-sizing: border-box;
}
    &__item{
        flex: 1;
        overflow: hidden;
        @media (max-width:900px){
            flex: none;
        }
     
        .image{
       
            width: 90%;
            float: left;
            @media (max-width:900px) {
                display: none;
            }
        }
    }
    &__content{
        font-size: 22px;
        @media (max-width:900px) {
            margin: auto;
        }
        .content-title{
            font-size: 7em;
            margin: 0;
            @media (max-width:900px) {
                font-size: 3em;
            }
        }
        .content-text{
            margin:10px 0  ;
        }
        .content-control{
            display: flex;
            flex-direction: row;
            font-size: 18px;
            justify-content: flex-end;
            @media (max-width:900px) {
                flex-direction: column!important;
                overflow: hidden;
            }
            
        }
    }

}
.en{
    flex-direction: row-reverse;
    text-align: left;
}