<img class="colored-border" src="/assets/rainbow-bar.png" alt="">
<div class="nav-bar" [class.nav-bar--white]="!isTopZero" >
    <div class="container">
        <div class="nav-bar__content" [class.en]="dictionary.lang==='en'">
      
          <div class="nav-bar__linkscontrols" [class.en]="dictionary.lang!=='ar'">
            <div class="nav-bar__controls" [class.en]="dictionary.lang==='en'">
                
                <div class="nav-bar__menu-btn" (click)="toggleNav()" [class.hide]="scrWidth > 970" >
                    <span class="dash" [class.dark]="!isTopZero"></span>
                    <span class="dash" [class.dark]="!isTopZero"></span>
                    <span class="dash" [class.dark]="!isTopZero"></span>
                </div>
                <div class="nav-bar__menu-btn "  (click)="toggleCurtain()" (click)="curtainContent('carousel')" [class.hide]="scrWidth < 970">
                    <span class="dash" [class.dark]="!isTopZero"></span>
                    <span class="dash" [class.dark]="!isTopZero"></span>
                    <span class="dash" [class.dark]="!isTopZero"></span>
                </div>

                <div class="search" (click)="toggleCurtain()"  (click)="curtainContent('search')" >
                    <mat-icon>search</mat-icon>
                </div>
                <div class="btn" [class.btn--dark]="!isTopZero">
                    {{dictionary.lang === "ar"?dictionary.requestDemo.ar:dictionary.requestDemo.en}}
                </div>
            </div>
            
            <div class="nav-bar__links-wrapper"  [class.open] ="showNavBar"   [class.justify-start] ="dictionary.lang !=='ar' && scrWidth < 970 ">
                
                <div class="nav-bar__links" [class.en]="dictionary.lang === 'en'" [class.align-start] ="dictionary.lang !=='ar' && scrWidth < 970 "   >
                    <!-- <div class="nav-bar__lang-btn" (click)="dictionary.changeLanguage()">
                        {{dictionary.lang}}
                    </div> -->
                    <a
                        [class.color-dark] ="!isTopZero && scrWidth > 970 "
                        (click)="dictionary.changeLanguage()"
                        [class.nav-bar-dark]="!isTopZero"
                        (click)="closeNav()">
                        {{dictionary.lang}}
                        </a>
                    <a 
                        [class.color-dark] ="!isTopZero && scrWidth > 970 "
                        [class.nav-bar-dark]="!isTopZero"
                        routerLink="/contact" 
                        routerLinkActive="active-page" 
                        (click)="closeNav()">
                            {{dictionary.lang === "ar"?dictionary.contact.ar:dictionary.contact.en}}
                        </a>
                         
                          <a 
                        [class.nav-bar-dark]="!isTopZero"
                        [class.color-dark] ="!isTopZero && scrWidth > 970 "
                          routerLink="/features" 
                          routerLinkActive="active-page" 
                          (click)="closeNav()">
                              {{dictionary.lang === "ar"?dictionary.productFeatures.ar:dictionary.productFeatures.en}}
                          </a>
                          <a
                        [class.nav-bar-dark]="!isTopZero"
                        [class.color-dark] ="!isTopZero && scrWidth > 970 "
                        routerLink="/about"     
                        routerLinkActive="active-page" 
                        (click)="closeNav()">
                            {{dictionary.lang === "ar"?dictionary.about.ar:dictionary.about.en}}
                        </a>
                        
                          <a 
                        [class.nav-bar-dark]="!isTopZero"
                        [class.color-dark] ="!isTopZero && scrWidth > 970 "
                          routerLink="/home" 
                          routerLinkActive="active-page" 
                          (click)="closeNav()">
                          
                              {{dictionary.lang === "ar"?dictionary.home.ar:dictionary.home.en}}
                          </a>
                       
                      </div>
                 
              </div>
          </div>
          
          <a href="/home"(click)="closeNav()"> 
            <div class="nav-bar__log">
                <div [hidden]="!(dictionary.lang === 'ar')">
                    <img height="50px" [hidden]="isTopZero " src="/assets/logo-colored-ar.png"/>
                    <img height="50px" [hidden]="!isTopZero" src="/assets/logo-light-ar.png"/>
                </div>
                <div [hidden]="(dictionary.lang === 'ar')">
                    <img height="50px" [hidden]="isTopZero" src="/assets/logo-en-colored.png"/>
                    <img height="50px" [hidden]="!isTopZero" src="/assets/logo-en-light.png"/>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>
<div class="curtain" [class.open]="showNavBar" [class.open]="curtain">
    <div class="curtain__content">
        <div *ngIf="cutainContent === 'search'">
            <input type="text"/>
            <button class="v=btn">search</button>
        </div>
        <div *ngIf="cutainContent === 'carousel'">
            carousel
        </div>
    </div>
</div>
