.nav-bar{
    background-color: #616699;
    position: fixed;
    top:0;
    color:white;
    width:100%;
    height: 60px;
    padding: 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 999;
    &--white{
        background-color: white;
        color: #75cabf;
    }
    &__linkscontrols{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__control{

        display: none;
        @media (max-width:900px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
    }
    &__content{
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    &__logo{
        font-size: 17px;
        font-weight: bold;
    }
    &__menu-btn{
        display: flex;
        align-items: center;
        height: 100%;
        padding:5px;
        box-sizing: border-box;
    }
    &__lang-btn{
    padding: 0 5px;
    text-transform:uppercase;
    }
    &__links-wrapper{
        display: block;
       
        @media (max-width:900px) {
        background-color:  #616699;
        position: absolute;
        width: 100%;
        top:60px;
        left:0;
        display: none;

        }
    }
    &__links{
      display: flex;
      flex-direction: row;
        a{
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
        }
        @media (max-width:900px) {
            display: flex;
            flex-direction: column-reverse!important;
            justify-content: center;
            align-items: center;
        }
    }
}
.close-curtain{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    position: 998;
    display: none;
}

.open{
    display: block;
}
