.carousel-wrapper{
    position: relative;
    &__btn{
        z-index: 999;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        background-color: aliceblue;
        padding: 5px;
        border-radius: 5px;
        &--left{
        transform: translateX(-50%);
        left:-50;
          
        }
        &--right{
        transform: translateX(50%);

            right:0;
           
        }
    } 
}
.carousel{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    }

    &__item{
        width: 25%;
        box-sizing: border-box;
        padding:5px ;
        flex-grow: 0;
        flex-shrink: 0;
        @media (max-width:600px) {
            width: 50%;
        }
        @media (min-width:601px) and (max-width:900px) {
            width:33.33%;
        }
        @media (min-width:1200px) {
            width: 25%
        }

        .card{
            // border: 1px solid rgb(129, 129, 255);
    display: block;
    border-radius: 5px;

    box-sizing: border-box;
    
    .image{
        background-color: black;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .details{
        border-top: 1px solid rgb(129, 129, 255);
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title{
            font-weight: bold;
            padding-bottom: 5px;
        }
        &__data{
            display: flex;
            flex-direction: row;
            font-size: 12px;
            color: gray;
        }
        
    }
    &__btn{
        border: 1px solid rgb(129, 129, 255);
        color: rgb(129, 129, 255);
        border-radius: 5px;
        min-width: 50px;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background-color: rgb(129, 129, 255);
            color: white;
        }
    }
}
}
}