.services{
    display: flex;
    flex-direction: column;
    

    &__title{
        text-align: center;
        font-size: 52px;
        margin-top: 50px;
        color:rgba(105, 201, 188, 0.836);
        padding: 30px;
        background-image: url("../../../assets/title-bg.png");
        background-position:center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin-bottom: 0;
        @media (max-width:600px) {
            font-size: 42px;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &--item{
            width: 25%;
            @media (min-width:600px) and (max-width:900px) {
                width: 50%;
                flex: none;
            }
            @media (max-width:600px) {
                width: 100%;
                flex: none;
            }
        }
      
        
    }
}