<div class="call-to-action">
    <h1 class="call-to-action__title">
        {{dictionary.lang === "ar"?dictionary.callToActionTitle.ar :dictionary.callToActionTitle.en}}
    </h1>
    <div class="call-to-action__text">
        {{dictionary.lang === "ar"?dictionary.jumbotronText.ar :dictionary.jumbotronText.en}}
    </div>
    <div class="call-to-action__control">
        <a class="animated-btn-container animated-btn-container-dark" routerLink="/contact">
            <svg><rect class="dark" ></rect></svg>
            {{dictionary.lang === "ar"?dictionary.requestDemo.ar :dictionary.requestDemo.en}}
        </a>    
        <a class="animated-btn-container animated-btn-container-dark" routerLink="/features">
            <svg><rect class="dark"></rect></svg>
            {{dictionary.lang === "ar"?dictionary.productFeatures.ar :dictionary.productFeatures.en}}
        </a>
    
    </div>


</div>
