.call-to-action{
    padding: 50px 0;
    text-align: center;
    background-image: url("../../../assets/polygon-bg.svg");
    background-size: cover;
    background-position: center center;
    color:white;
    font-size: 26px;

    &__title{
        font-size: 52px;
        margin: 10px;
        @media (max-width:950px) {
            font-size: 44px;        }
    }
    &__control{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:950px) {
            flex-direction: column;
        }
    }

}