/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:bein ;
    src: url(assets/beIN.ttf);
}
body {
margin :  0 0;
padding-top:60px;
text-decoration: none;
list-style: none;
color:black;
font-family:bein;
line-height: 1.6;
}
button{
    outline: none;
    border: none;
    background: none;
    font-family: bein;
    padding: 10px 30px!important;
}
a{
    color: white;
    text-decoration: none;

}
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    @media (max-width:1200px) {
        width: 90%;
    }
}
.section-header{
    text-transform: capitalize;
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    &::after{
        content:"";
        position: absolute;
        width: 90px;
        height: 1px;
        top:50%;
        right: -110px;
        transform: translateY(-50%);
        background-color: black;
    }
    &::before{

        content:"";
        position: absolute;
        width: 90px;
        height: 1px;
        top:50%;
        left:-110px;
        transform: translateY(-50%);
        background-color: black;
    }
}
.active-page{
    color: white!important;
    background-color: rgb(117,202,191)!important

}
.animated-btn-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 5px;
    color:white;
    &-dark{
        color:#616699 ;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
   
        rect{
            width: 100%;
            height: 100%;
            fill: transparent;
            stroke-width: 4;
            stroke: rgb(255, 255, 255);
            transition: all 400ms ease-in-out;
            &.dark{
                stroke: #616699;
            }
            &:hover{
                stroke-dasharray: 100;
                stroke-dashoffset: 344;
            }
        }
    }
}
.en{
    flex-direction: row-reverse !important;
    text-align: left !important;
    
}