/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:bein ;
    src: url(assets/beIN.ttf);
}
body {
margin :  0 0;
padding-top:60px;
text-decoration: none;
list-style: none;
color:black;
font-family:bein;
line-height: 1.6;
}
button{
    outline: none;
    border: none;
    background: none;
    font-family: bein;
    padding: 10px 30px!important;
}
a{
    color: white;
    text-decoration: none;

}
.container{
    width: 90%;
    margin: auto;

}
.section-header{
    text-transform: capitalize;
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    &::after{
        content:"";
        position: absolute;
        width: 90px;
        height: 1px;
        top:50%;
        right: -110px;
        transform: translateY(-50%);
        background-color: black;
    }
    &::before{

        content:"";
        position: absolute;
        width: 90px;
        height: 1px;
        top:50%;
        left:-110px;
        transform: translateY(-50%);
        background-color: black;
    }
}
.active-page{
    color: white!important;

}
.en{
    flex-direction: row-reverse !important;
    text-align: left !important;
    
}
.btn-container{
position: relative;
    .ghost-btn {
        position: relative;
    display: inline-block;
    width: 217px;
    height: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    
    svg {
        overflow: hidden;
        vertical-align: middle;
        rect{
            width: 206px;
            height: 50px;
            stroke-width: 2;
            stroke-dasharray: 353, 0;
            stroke-dashoffset: 0;
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
        }
        
    }
    span{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        font-weight: 500;
    }
    .dark{
        background:linear-gradient(to right, #ff8282 0%, #e178ed 100%);
        -webkit-background-clip: text;
        background-clip:text;
        -webkit-text-fill-color: transparent; 
    }
    &:hover{
        text-decoration: none;
        svg rect{
            stroke-width: 2;
            stroke-dasharray: 156, 505;
            stroke-dashoffset: 427;
            }
        }
    }
}
    
    